.App {
  text-align: center;
  background-color: cornsilk;
} 
.Content {
  text-align: center;
  position: relative; 
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
}

.hsimg {
  width: 50%;
  height: 50;
}

h1  {
  color: red;
}
